<?xml version="1.0" encoding="UTF-8"?>
<!--
    http://code.google.com/a/apache-extras.org/p/camel-extra

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.


    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
    02110-1301, USA.

    http://www.gnu.org/licenses/gpl-2.0-standalone.html
-->
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.apache.camel.spit.editor.SpitEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="spit"
            icon="icons/CamelIcon.gif"
            id="org.apache.camel.spit.editor.SpitEditor"
            name="Spit File">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
         
         
		<wizard
			category="org.openarchitectureware.xtext.wizards"
			class="org.apache.camel.spit.wizards.NewSpitFileWizard"
			icon="icons/CamelIcon.gif"
			id="org.apache.camel.spit.wizards.NewSpitFileWizard"
			name="Spit File">
		</wizard>
	</extension>
</plugin>
